{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Information
{% endblock %}

{% block content %}
  <style>
  table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: left;
  }
  </style>
  <table>
      <tr>
          <th> </th>
          <th> Red </th>
          <th> Blue </th>
      </tr>
      <tr>
           <th> Square </th>
          {%for i in player.Row1 %}
           <td>{ % formfield player.i %}</td>
      </tr>
      <tr>
           <th> Circle </th>
          {%for i in player.Row2%}
          <td>{% formfield player.i %}</td>
      </tr>
      <tr>
           <th> Square </th>
          {%for i in Player.ARow%}
          <td>{% formfield player.i %}</td> 
          <td> </td>
      </tr>
<p> Choose the row you want to learn about: </p>
    {% formfield player.row %}

<p> Choose the column you want to learn about: </p>
    {% formfield player.column %}
    {% next_button %}

{% endblock %}
