{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Instructions
{% endblock %}

{% block content %}
 {% if subsession.round_number != 1%}
    <p class="payoff">
    Payoff in last round was {{finalpayoff}}.
  </p>
  <p class="payoff">
    Total Payoff {{totalpayoff}}
  </p>
  {% else %}
  <p>
    On the next page you will given the number of possible cells that gives payoff 0.
    The set of possibilites only applies to the current round.
  </p>
{% endif %}

<div>

    Press the next button to start round {{subsession.round_number}}.

</div>
  {% next_button %}
  {% endblock %}
 {% block styles %}
 <style>
  p.payoff {
    color: DarkRed
  }
 </style>
 {% endblock %}
